body{
    background-image: url("img/frontpage.jpg");
}

.header{
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: Impact, Charcoal, sans-serif;
}

.inputcontainer{
    display: block;
    margin-left: 45%;
    margin-right: 45%;
}

.username{
    margin-bottom: 5px;
    display: block;
}

.password{
    margin-bottom: 10px;
    display: block;
}

.loginbtn{
    display: block;
}

.createusercontain{
    background-image: url("img/createuserbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 2px 4px 5px 0px rgba(0,0,0,0.75);
    width: 380px;
    height: 170px;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: #0033ff;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
}

.Cname{
    display: block;
    margin-bottom: 5px;
    margin-left: 10px
}
.Cusername{
    display: block;
    margin-bottom: 5px;
    margin-left: 10px
}
.Cpassword{
    display: block;
    margin-bottom: 5px;
    margin-left: 10px
}
.Cgroup{
    display: block;
    margin-bottom: 5px;
    margin-left: 10px
}
.createbutton{
    margin-top: 35px;
    margin-left: 10px
}
